In [ ]:
# Functions- are the block of reusable code that will execute only when it is called.
#syntax
"""
def function_name():
    statement 1
    statement 2
    ...
    ...
    ...
    statement n
"""

In [4]:
# defining the function
def addition(x,y): #without default value
    z=x+y
    print(z)

In [5]:
# calling the function
addition(2,3)

5

In [8]:
addition(2)

TypeError: addition() missing 1 required positional argument: 'y'

In [6]:
def addition(x=0,y=0):#0 is assigned as the default vaue for the varibales x and y
    z=x+y
    print(z)

In [7]:
addition(2)#as default value for y =0 hence z= 2+0=2

2

In [9]:
# We can pass a string in a function
def f1(name):
   print("Hello {}".format(name), '\nWelcome to the virtual world of Python')

In [10]:
f1('Jyotishman')

Hello Jyotishman
Welcome to the virtual world of Python

In [11]:
# We can pass a list in a function
def l1(list1):
    for i in list1:
        print(i)

In [12]:
l1(['hello',1,2,3,4,5,6,7,8,9,'bye'])

hello
1
2
3
4
5
6
7
8
9
bye

In [ ]:
# Return keyword
# return keyword can be used to return values from a function
# it can be used to end the execution of a function
# statements below return keyword will not get executed

In [13]:
a=4
b=5
def mul():
    return (a*b)
    print ('print this line')#This line is not executed
    
print(mul())

20

In [ ]:
# Local Scope
# A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

In [18]:
def func1():
    x = 20
    print(x)


func1()

20

In [19]:
#Enclosing scope

def func1():
    x = 300
    print('func1',x)
    def func2():
        print('func2',x)
    
    func2()

func1()

func1 300
func2 300

In [ ]:
#Global Scope: variable created in the main body of the Python code is a global variable and belongs to the global scope. Global variables are available from within any scope, global and local.

In [20]:
x=300
def func1():
    print('func1:',x)
    def func2():
        print('func2:',x)
    func2()

print('Global',x)
    
func1()

Global 300
func1: 300
func2: 300

In [ ]:
#How to change global variables inside functions

In [21]:
x=400

def fun1():
    x=200
    print('local',x)
fun1()
print('global',x)

local 200
global 400

In [ ]:
#Global Keyword- can define a global scope inside a function

In [22]:
def fz1():
    global x
    x=200
    print('local',x)
fz1()
print('global',x)

local 200
global 200

In [ ]:
#Order of execution ---> Local,Enclosing,Global

In [23]:
z=1000 #global
def f1():
    z=100 #local
    print('f1:',z)
    def f2():
        z=10 #enclosing
        print('f2:',z)
        def f3():
            z=1 #enclosing
            print('f3',z)
        f3()
    f2()
f1()
print('Global',z)

f1: 100
f2: 10
f3 1
Global 1000

In [ ]:
# List Comprehensions
# In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

# It's just another way of creating the lists

# syntax ##### my_list = [item for item in sequence]

In [25]:
x= "Mr. Rajkumar Rao"

In [26]:
x_list = []

In [27]:
for i in x:
    x_list.append(i)
    print(i)

M
r
.

R
a
j
k
u
m
a
r

R
a
o

In [28]:
x_list

['M',
 'r',
 '.',
 ' ',
 'R',
 'a',
 'j',
 'k',
 'u',
 'm',
 'a',
 'r',
 ' ',
 'R',
 'a',
 'o']

In [ ]:
#using list comprehension

In [ ]:
x= "Mr. Rajkumar Rao"

In [30]:
a_list = [i for i in x]
print(a_list)

['M', 'r', '.', ' ', 'R', 'a', 'j', 'k', 'u', 'm', 'a', 'r', ' ', 'R', 'a', 'o']

In [31]:
# create a list which contains the squares of 0 to 10
# without list comprehension
list1 = []

for i in range(11):
    list1.append(i**2)

print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
# with list comprehensions
list1 = [i**2 for i in range(11)]
print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Lambda - is a small anonymus function that can take up any number of aurguments, but can have only one expression and are mostly used with Map and Filter function

In [ ]:
# Syntax
# x= lambda arguments : expression

In [ ]:
#Squaring a number with one aurgment

In [33]:
def square (a):
    return a**2

square(9)

81

In [34]:
#using lambda
square = lambda a : a**2

In [35]:
square(15)

225

In [36]:
#addition
add = lambda x=0,y=0,z=0 : x+y+z
add(1,2,3)

6

In [ ]:
#Map Function
#Syntax
#map(function,sequence)

In [37]:
a= range(0,10,1)

In [ ]:
def square(x):
    return x**2

In [40]:
list(map(square,a)) # Map is used to link to sequence 'a' and function 'square'

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
#list will print output
for i in map(square,a):
    print(i)

0
1
4
9
16
25
36
49
64
81

In [41]:
list(map(square,a))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Filter function
#Syntax-
#filter(function,squence)

In [42]:
x= range (1,20)

In [43]:
even= lambda a : a%2 == 0

In [44]:
filter(even,x)

In [45]:
for i in filter(even,x):
    print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
x= range (1,20)

In [46]:
#with filter and lambdaa
for z in filter(lambda a: a%2==0,x):
    print(z)

2
4
6
8
10
12
14
16
18

In [ ]:
#Lambda with map

In [47]:
q= range (1,9)

In [48]:
list(map(lambda x: x**2,q))

[1, 4, 9, 16, 25, 36, 49, 64]

In [49]:
for x in map(lambda x: x**2,q):
    print(x)

1
4
9
16
25
36
49
64

In [ ]:
# Reduce function-used to apply a particular function passed in its argument to all of the list elements mentioned

In [58]:
import functools as ft
q= range(1,9)
print(ft.reduce(lambda x,y: x if x>y else y,q))

8

In [ ]:
#Zip function-The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [57]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")
c=zip(a,b)
print(tuple(c))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))