In [ ]:
#Presentation 1: Data types

In [ ]:
#Classification or categorization of data items to represent what operations can be performed on a particular data

In [ ]:
# Name: Integer (includes whole numbers)
# Syntax: int(1,2,3)

In [2]:
#Exapmle:

print(6)
type(6)

6

int

In [3]:
print(-17)
type(-17)

-17

int

In [ ]:
#Name: Float (includes numbers with a decimal point)
#Syntax: float(2.2,4.1)

In [4]:
#Example:

print(2.1)
type(2.1)

2.1

float

In [ ]:
#Name: Strings (Series of characters enclosed withing single or double quotes and are immutable)
# Syntax: str('apple',"ball",'cat') (in python''="")

In [5]:
#Example:

print('Hello World')
type('hello World')

Hello World

str

In [6]:
print("Hello World")
type("hello Worl")

Hello World

str

In [7]:
a= "Hello World" # index of string sequence will start from 0
print(type(a))
print(a[1]) #fetcheing the letter preset at index 1
print(a[-1]) #fetching the letter present at last of te sequence(negative index)

<class 'str'>
e
d

In [ ]:
#Name: Booleans (logical values indicating true or false)
#Syntax: True or False

In [8]:
# Example:

a= True
type(a)

bool

In [9]:
b= False
type(b)

bool

In [21]:
#Name: List (Ordered sequence of objects)
#Syntax: [1,'hello',2.3]

In [10]:
#Example:

a= ['hello', 1,7,8.9,"world"]
print(a)
print(type(a))

['hello', 1, 7, 8.9, 'world']
<class 'list'>

In [13]:
a[0]#item preset at index=0
# a[-1]#item present at last index

'hello'

In [14]:
a[1:4:1]#slicing- fetching the part with start index 1(inclusive):stop index 4(exclisive): and step size as 1

[1, 7, 8.9]

In [15]:
a[0]=99 # mutable- values can be changed
a

[99, 1, 7, 8.9, 'world']

In [ ]:
#Name: Dictionaries (written with curly brackets and they have keys and values seperated by commas)
#Syntax: {‘key1’:” value1”, ‘key2’: “value2”}

In [16]:
d= {
    'Name':'Jyotishman',
   'Gradutaion':'B-Tech'
}
d

{'Name': 'Jyotishman', 'Gradutaion': 'B-Tech'}

In [17]:
type(d)

dict

In [18]:
k=list(d.keys())# view all the keys
print(k)

['Name', 'Gradutaion']

In [19]:
v=list(d.values())# view all the values
print(v)

['Jyotishman', 'B-Tech']

In [20]:
i= list(d.items())#fetching all the items
print(i)

[('Name', 'Jyotishman'), ('Gradutaion', 'B-Tech')]

In [21]:
d['Gradutaion']= 'B-Tech Mechanical and Automation'#update exisitng value
d['Post Graduation']= 'MBA'#add new value
d

{'Name': 'Jyotishman',
 'Gradutaion': 'B-Tech Mechanical and Automation',
 'Post Graduation': 'MBA'}

In [22]:
del d['Post Graduation']#deleting key and value

In [23]:
d

{'Name': 'Jyotishman', 'Gradutaion': 'B-Tech Mechanical and Automation'}

In [ ]:
#Name: Tuple (written with round bracket and can stire different data types)
#Syntax: (1,4.4,True,"apple","cat")

In [24]:
#Example:

tup1=(1, 2, 9, 6, 8, 4, 2.2, 3.9, 'what', 'are', 'you', 'doing', '?')
tup1

(1, 2, 9, 6, 8, 4, 2.2, 3.9, 'what', 'are', 'you', 'doing', '?')

In [25]:
type(tup1)

tuple

In [26]:
tup2=("hello")#single element tuple will be considered str
type(tup2)

str

In [27]:
tup2=("hello",)#put coma after element to conver in tuple dtaa type
type(tup2)

tuple

In [28]:
#to check if tuple contains elemnet

tup1=(1, 2, 9, 6, 8, 4, 2.2, 3.9, 'what', 'are', 'you', 'doing', '?')

print(3.9 in tup1)
print('/' in tup1)

True
False

In [29]:
#Modify values in a tuple by converting into list

tup1=(1, 2, 9, 6, 8, 4, 2.2, 3.9, 'what', 'are', 'you', 'doing', '?')

list1= list(tup1)#convert tuple into list
list1

[1, 2, 9, 6, 8, 4, 2.2, 3.9, 'what', 'are', 'you', 'doing', '?']

In [30]:
list1[8]="Fine"#modify list

In [31]:
list1

[1, 2, 9, 6, 8, 4, 2.2, 3.9, 'Fine', 'are', 'you', 'doing', '?']

In [83]:
tup1= tuple(list1)#convert list into tuple

In [32]:
tup1

(1, 2, 9, 6, 8, 4, 2.2, 3.9, 'what', 'are', 'you', 'doing', '?')

In [92]:
tup1[0:5:1]#top 5 emlements

(1, 2, 9, 6, 8)

In [33]:
tup1[:-6:-1]#bottom 5 elements

('?', 'doing', 'you', 'are', 'what')

In [ ]:
#Name: Sets (are written with curly brackets and doesnot store duplicate values)
#Syntax: {2,3,4.4,True,"python"}

In [35]:
#Example: 

set1={1,2,3,'a',4,5,'b'}
set1

{1, 2, 3, 4, 5, 'a', 'b'}

In [36]:
type(set1)

set

In [37]:
set2={1,2,3,3,4,5,6,5,7,7,7,8}#set doesnot contain duplicate value
set2

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
#creating an empty set

set3= {}
type (set3)

dict

In [39]:
set3 = set()
type(set3)

set

In [43]:
#empty set using clear

set1={1,2,3,'a',4,5,'b'}
set1.clear()
set1

set()

In [44]:
#adding item (add and update)

set1={1,2,3,'a',4,5,'b'}
set1.add(6)
set1

{1, 2, 3, 4, 5, 6, 'a', 'b'}

In [45]:
set1={1,2,3,'a',4,5,'b'}
set1.update([6,7,8,9,'c','d','e'])
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c', 'd', 'e'}

In [46]:
#copy set (.copy)

set1={1,2,3,'a',4,5,'b'}
set1_copy=set1.copy()
set1_copy

{1, 2, 3, 4, 5, 'a', 'b'}

In [47]:
#To remove items

set1={1,2,3,'a',4,5,'b'}
set1.remove(1)#using .remove
set1

{2, 3, 4, 5, 'a', 'b'}

In [48]:
#using .discard (doesnot give error if item not preset in set)

set1={1,2,3,'a',4,5,'b'}
set1.discard(3)
set1

{1, 2, 4, 5, 'a', 'b'}

In [49]:
##.pop(we donot know what gets deleted)

set1={1,2,3,'a',4,5,'b'}
set1.pop()
set1

{2, 3, 4, 5, 'a', 'b'}

In [50]:
set1.pop()
set1

{3, 4, 5, 'a', 'b'}