In [ ]:
#Tasks

In [ ]:
#what is the uasge of continue wiith an example

In [ ]:
#Continue- skip the conditon output, but continue with the next iteration

In [34]:
for letter in 'Polygon':
   if letter == 'P':
      continue
   print (letter)

o
l
y
g
o
n

In [ ]:
#What is pass keyword, with example

In [ ]:
#Pass- helsp in avoiding getting an error when empty code is not allowed.(Empty code is not allowed in loops,if else conditions,functions,Classes etc)

In [41]:
for i in range(20):
    if (i>14):
        print(i)
    else:
        pass

15
16
17
18
19

In [ ]:
#using while loop print numbers from 10 to 1

In [43]:
x=10
while(x>0):
    print(x)
    x=x-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#try using for loop to loop over tuples,sets and dictionaries

In [45]:
a=(10,'hello',1.9)#tuple

In [46]:
for i in a:
    print(i)

10
hello
1.9

In [47]:
a={'a','b',1,2,3.2,'good'}#set

In [48]:
for i in a:
    print(i)

1
2
3.2
b
good
a

In [51]:
a={'name': "Jyotishman",
   "age":"28",
  'sex': 'M'}

In [55]:
for i in a:
    print(list(a.items()))

[('name', 'Jyotishman'), ('age', '28'), ('sex', 'M')]
[('name', 'Jyotishman'), ('age', '28'), ('sex', 'M')]
[('name', 'Jyotishman'), ('age', '28'), ('sex', 'M')]

In [ ]:
#Practice

In [ ]:
#While loop

In [ ]:
#print numbers 1 to 10

In [2]:
x=1
while(x<11):
    print(x)#putting the condition below print gives the utput from x=1
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [3]:
x=1
while(x<11):
    x=x+1
    print(x)#putting the condition above print gives the utput from x+1=2

2
3
4
5
6
7
8
9
10
11

In [ ]:
#while - else

In [7]:
x=1
while(x<11):
    print(x)
    x=x+1
else:
    print('End of Loop - X is either equal to or greater than 11')
    print(x)

1
2
3
4
5
6
7
8
9
10
End of Loop - X is either equal to or greater than 11
11

In [ ]:
#if x has reached 8 then break loop

In [10]:
x=1
while (x<11):
    if(x==8):
        print(x)
        break
    else:
        print(x)
        x=x+1

1
2
3
4
5
6
7
8

In [ ]:
#Continue- print only odd numbers between 1-10

In [11]:
x=0
while (x<11):
    x=x+1
    if(x%2==0):
        continue
    print(x)

1
3
5
7
9
11

In [ ]:
#For loop

In [ ]:
#for loop with string

In [12]:
a="Jyuru"

In [13]:
for i in a:
    print(i)

J
y
u
r
u

In [ ]:
#looping over list

In [14]:
a=[1,2,3,4,5,6]

In [15]:
for i in a:
    print(i)

1
2
3
4
5
6

In [ ]:
#looping over range
# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

# range(10) -> 10 is the stop parameter
# range(1,10) -> 1 is start,10 is stop
# range(1,10,2) -> 1 is start,10 is stop,2 is step

In [16]:
for i in range(20):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [19]:
for i in range(1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [20]:
for i in range(1,10,3):
    print(i)

1
4
7

In [ ]:
#looping in reverse order

In [22]:
for i in range(15,0,-1):
    print(i)

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#using break in for loops

In [24]:
for i in range (10):
    if(i==6):
        break
    print(i)

0
1
2
3
4
5

In [25]:
#using continue in for loops

In [26]:
for i in range(20):
    if (i%2==0):
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [27]:
for i in range(20):
    if (i==3 or i==9 or i==13 or i ==17):
        continue
    print(i)

0
1
2
4
5
6
7
8
10
11
12
14
15
16
18
19

In [32]:
for i in range(20):
    if (i>4):
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19